<router-outlet></router-outlet>



<div class="container my-5">

<div class="col-lg-8">
  <form #newUserForm ="ngForm" (ngSubmit) = "onSubmit(newUserForm)" >

    <div class="input-group form-group">
        
      <input required type="text" class="form-control" placeholder="username" [(ngModel)]="name" 
      #typedName = "ngModel"
      name="name"> 
    </div>
    <div style="color: red;" *ngIf = "!typedName.valid && typedName.touched">
        Event name  is requied!
    </div>

    <div class="input-group form-group">
       
        <input required  type="date" class="form-control" placeholder="date" [(ngModel)] = "date" 
        #typedDate = "ngModel"
        name="date">
    </div>

    <div style="color: red;" *ngIf = "!typedDate.valid && typedDate.touched">
        Date is requied!
    </div>

    <div class="input-group form-group">
       
      <input required  type="time" class="form-control" placeholder="time" [(ngModel)] = "time" 
      #typedTime = "ngModel"
      name="time">
  </div>

  <div style="color: red;" *ngIf = "!typedTime.valid && typedTime.touched">
      Time is requied!
  </div>


  <div class="input-group form-group">
       
    <input required  type="text" class="form-control" placeholder="address" [(ngModel)] = "address" 
    #typedAddress = "ngModel"
    name="address">
</div>

<div style="color: red;" *ngIf = "!typedAddress.valid && typedAddress.touched">
    Address is requied!
</div>

<div class="input-group form-group">
       
  <input required  type="text" class="form-control" placeholder="city" [(ngModel)] = "city" 
  #typedCity = "ngModel"
  name="city">
</div>

<div style="color: red;" *ngIf = "!typedCity.valid && typedCity.touched">
  City is requied!
</div>

<div class="input-group form-group">
       
  <input required  type="text" class="form-control" placeholder="country" [(ngModel)] = "country" 
  #typedCountry = "ngModel"
  name="country">
</div>

<div style="color: red;" *ngIf = "!typedCountry.valid && typedCountry.touched">
  country is requied!
</div>

    
    <div class="form-group">
        <button type="submit">Save</button>
    </div>
    
    <div class="form-group">
      <button (click)="clear()">Cancel</button>
      </div>
    
</form>

</div>



<table class="table">
  <thead>
    <tr>
     
      <th scope="col">Event Name</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events;">
      
      <td>{{event.name}}</td>
      <td>{{event.date}}</td>
      <td>{{event.time}}</td>
      <td>{{event.address}}</td>
      <td>{{event.city}}</td>
      <td>{{event.country}}</td>

    </tr>
    
  </tbody>
</table>

</div>